*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    }
    .cont{
        background-color: #ffecd88e;
        width:100%;
        height:100vh;
        align-items: center;
        padding-top:25px;
        padding-bottom:20px;
        display:flex;
    }
    .row_outer{
        width:98%;
        height: 100%;
        margin:auto;
        padding: 1% 2% 1.5% 2%;
        border-radius: 7px;
        display:flex;
        
    }
    .row_center{
        margin:auto;
    }
    .row_inner{
        background-color: white;
        width:100%;
        height:565px; /*editt here*/
        margin:auto;
        padding: 2% 2% 1.5% 2%;
        font-family: 'helvetica';
        border-radius: 7px;
        box-shadow: 3px 4px 2px #a546024d;
    }
    .row_table{
        height:100%;
        overflow-y: hidden;
    }
    .row_table2{
        height:90%;
        overflow-y: hidden;
    }
    
    
    h1{
        color:#a54602;
        font-weight:bold;
        text-shadow: 1px 1px #14416f6d;
    }
    
    h5{
        text-transform: uppercase;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.721);
        padding-bottom: 3%;
    }
    h4{
        text-transform: uppercase;
        font-weight: bold;
        color:#a54602;
        padding-bottom: 1.3%;
    }

    td {
        text-align: center;
    }
    .heading{
        background-color:#a54602;
        color:white;
        text-align: center;
    }

    .form-control{
        border-color: rgba(0, 0, 0, 0.523);
    }
   
    .department_textbox, .status_textbox{
        height:38px;
        border-radius: 6px;
    }
    .buttondiv{
        margin-top: 2%;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .form-control{
        margin-bottom: 1%;
    }

    .icon{
        max-width:80px;
        height: auto;
    }

    .icon2{
        width:430px;
        height: auto;
        float: right;
        text-align: center;
    }
    

    .a{
        color:white;
        text-decoration:none;
    }
    .a:hover{
        color:#a54602;
    }

    .btn4{
        padding-top:2.5%;
        padding-bottom:2.5%;
        padding-left: 20%;
        padding-right: 20%;
        background-color:white;
        color:#a54602;
        border-color:#a54602;
        font-weight: bold;
        border-radius:5px;
        margin-bottom: 1%;
        
    }
    
    .btn4:hover{
        border-color:#dcdcdca3;
        color:black;
        background-color:#dcdcdca3;
    }

    a{
        color:white;
        text-decoration:none;
        font-weight: bold;
    }
    a:hover{
        color:#a54602;
    }

    .table_button{
        font-size:14px;
        background-color:#a54602a8;
        border: 2px solid#a54602;
        border-radius:5px;
        margin-left: 20%;
        width:80%;
        height:40px;
        color:white;
        font-weight: bold;
    }
    .table_button:hover{
        background-color:white;
        border: 2px solid#a54602;
        color:#a54602;
    }

    a{
        color:white;
        text-decoration:none;
        font-weight: bold;
    }
    a:hover{
        color:#a54602a8;
        font-weight: bold;
    }
    li:hover{
        
        background-color:#a54602a8;
        color: white;
    }
    li{
        background-color: white;
        color:#a54602a8;
    }

    .b2{
        text-decoration:none;
        padding: 6px; 
        color:white;
    }
    .b2:hover{
        color:#a54602a8;
    }
    

    a{
        color:white;
        text-decoration:none;
        font-weight: bold;
    }
    a:hover{
        color:#a54602a8;
        font-weight: bold;
    }

    .b, li{
        color:#a54602a8;
        text-decoration:none;
        padding: 6px;
    }
    .b:hover{
        color:white;
    }
    
    li:hover{
        background-color:#a54602a8;
        color:white;
    }

    .btntoggle{
        padding-top:3%;
        padding-bottom:3%;
        padding-left: 22%;
        padding-right: 22%;
        background-color:#a54602a8;
        color:white;
        border-color:#a54602a8;
        font-weight: bold;
        border-radius:5px;
        margin-bottom: 1%;
        width:90%;

        
    }

    .btnn{
        text-align: right;
    }
    
    
    .dropdown-menu
    {
        padding-left: 15%;
        padding-right: 14.5%;
    }
    
    .btn3{
        padding-top:5%;
        padding-bottom:5%;
        padding-left: 10%;
        padding-right: 10%;
        background-color:#a54602a8;
        color:white;
        border-color:#a54602a8;
        font-weight: bold;
        border-radius:5px;
        margin-bottom: 1%;
        
    }
    
    .btn3a{
        padding-top:5%;
        padding-bottom:5%;
        padding-left: 20%;
        padding-right: 20%;
        background-color:#a54602a8;
        color:white;
        border-color:#a54602a8;
        font-weight: bold;
        border-radius:5px;
        margin-bottom: 1%;
    }
    .btn3:hover, .btn3a:hover{
        border-color:#a54602a8;
        color:#a54602a8;
        background-color:white;
    }
        